/checkouts/
/classes/
/lib/
/out/
/resources/cognician/datomic-doc/main.js
/resources/cognician/datomic-doc/main.min.js
/target/

.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
.repl

*jar
*-init.clj
*~
*#
*.#*

pom.xml
pom.xml.asc
figwheel_server.log
