^{:watch-dirs ["src"]
  :css-dirs   ["resources/cognician/datomic-doc"]
  :mode       :serve
  :open-url false}
{:main                 cognician.datomic-doc.client
 :output-to            "resources/cognician/datomic-doc/js/main.js"
 :output-dir           "resources/cognician/datomic-doc/js/out"
 :asset-path           "/cognician/datomic-doc/js/out"
 :optimizations        :none
 :source-map           true
 :source-map-timestamp true
 :parallel-build       true
 :compiler-stats       true}
