
input#search {
    margin: 0;
    display: block;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #ebebeb;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2em;
}
